<!DOCTYPE html>
<html lang="en">

<head>
  <title>Story</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <!-- linking font awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <div class="story-container">
  <%- include('partials/_header') %>

  <div class="story-so-far">
  <!-- initial story and title -->
  <h1><%= story[0].story_title %></h1>
  <%= story[0].initial_story %><br><br>

  <% for (const arrItem of story) { %>
  <!-- check all story entries connected to the block_id and only show the ones that are true -->
  <% if (arrItem.block_completed === true && arrItem.story_block_id === arrItem.entry_block && arrItem.winning_entry === true) { %>
  <%- arrItem.entry_text %><br><br>
  <% } %>
  <% } %>
  <% if (story[story.length - 1].story_completion_status) { %>
    <h1 class="end-message">END</h1>
  <% } %>
  </div>

  <!-- if condition to check if a story isn't complete -->
  <% if (!story[story.length - 1].story_completion_status) { %>

  <a href="/story/<%= story[0].story_id %>/<%= story[story.length - 1].story_block_id %>/entry">
  <img class="pencil-svg" src="/svgs/pencil_icon.svg" alt="story" width="150px"></a>

  <div class="submissions-container">
  <!-- if condition for if last story block is not complete and the current user is the story owner -->
  <% if (story[story.length - 1].block_completed === false && story[story.length - 1].entry_id !== null && story[0].story_creator === 1) { %>
    <ul>
    <form method="POST" action="/story/<%= story[0].story_id %>/<%= story[story.length - 1].story_block_id %>/select-winner">
    <% for (const entry of story) { %>
    <% if (entry.entry_block === story[story.length - 1].story_block_id) { %>

    <div class="entry-selector">

    <fieldset>
    <input type="radio" name="entry" value="<%= entry.entry_id %>">
    </fieldset>

    <li>
    <%- entry.entry_text %>
    <div class="like-wrapper">
    <span id="like-counter<%= entry.entry_id %>"><%- entry.upvote_counter %></span><span id="like-post" data-id="<%= entry.entry_id %>"><i class="fa-solid fa-heart hover-color fa-lg"></i></span>
    </div>
    </li>

    </div>
    <% } %>
    <% } %>

    <fieldset class="continue-form">
    <label><input type="radio" name="completion" value="false"> Continue story?<br></label>
    <label><input type="radio" name="completion" value="true"> End story here?<br></label>
    </fieldset>
    <button class="submit-button">SUBMIT</button>
    </form>
  <% } %>
</ul>

  <!-- if condition for if last story block is not complete and the current user is not the story owner -->
  <% if (story[story.length - 1].block_completed === false && story[story.length - 1].entry_id !== null && story[0].story_creator !== 1) { %>
    <ul>
    <% for (const entry of story) { %>
    <% if (entry.entry_block === story[story.length - 1].story_block_id) { %>
    <li>
    <%- entry.entry_text %>
    <div class="like-wrapper">
    <span id="like-counter<%= entry.entry_id %>"><%- entry.upvote_counter %></span><span id="like-post" data-id="<%= entry.entry_id %>"><i class="fa-solid fa-heart hover-color fa-lg"></i></span>
    </div>
    </li>
    <% } %>
    <% } %>
    <% } %>
    </ul>
  <% } %>
  </div>

</div>
</body>

</html>
